/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END CSS RESET */
* {
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: #f1f1f1;
    font-family: Consolas, 'Lucida Console', Courier New, Courier, monospace;
    font-size: 14pt;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0em 1em 0em 1em;
}

header {
    background-color: #000000;
    background-image: linear-gradient(#222222,#111111);
    height: 80px;    
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.logo span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

main {
    padding: 1em 0em 0em 0em;
}

main p {
    line-height: 1.4em;
}

#output {
    min-height: 800px;
    background-color: #292929;
    box-shadow: 0px 0px 10px #191919;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#input {
    background-color: #292929;
    box-shadow: 0px 0px 10px #191919;    
    margin: 1em 0em 0em 0em;    
    width: 100%;
}

#input #commandInput {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: transparent;    
    color: #f1f1f1;
    font-family: Consolas, 'Lucida Console', Courier New, Courier, monospace;
    font-size: 14pt;
    border: none;
    outline: none;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}

