@model OmniMud.WebApp.Models.Auth.AuthLoginView

<div class="signin-form">
    <div class="signin-provider">
        @Html.ActionLink("Login with Google", "GoogleLogin", "Auth", new{ReturnUrl=Model.ReturnUrl})
    </div>
</div>