
<div id="output">
    <div class="output-message">
        <pre>
 _    _      _                            _        
| |  | |    | |                          | |       
| |  | | ___| | ___ ___  _ __ ___   ___  | |_ ___  
| |/\| |/ _ \ |/ __/ _ \| '_ ` _ \ / _ \ | __/ _ \ 
\  /\  /  __/ | (_| (_) | | | | | |  __/ | || (_) |
 \/  \/ \___|_|\___\___/|_| |_| |_|\___|  \__\___/ 

 _____                 ____  ____   _______ _      
|  _  |               (_)  \/  | | | |  _  \ |     
| | | |_ __ ___  _ __  _| .  . | | | | | | | |     
| | | | '_ ` _ \| '_ \| | |\/| | | | | | | | |     
\ \_/ / | | | | | | | | | |  | | |_| | |/ /|_|     
 \___/|_| |_| |_|_| |_|_\_|  |_/\___/|___/ (_)     
        </pre>                    
    </div>
</div>

<div id="input">
    <form method="post" id="inputForm">
        <input type="text" name="commandInput" id="commandInput" autocomplete="off" />
    </form>
</div>

<script>
    const output = document.getElementById('output');
    const inputForm = document.getElementById('inputForm');
    const commandInput = document.getElementById('commandInput');

    var omniMud = new OmniMud(output, inputForm, commandInput);
    omniMud.run();
</script>
        